{% extends 'base_generic.html' %}

{% load static %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/create_task.css' %}">
{% endblock %}

{% block content %}
  <div class="create-task-container">
    <h1>Create New User</h1>

    <form method="POST" class="create-task-form">
      {% csrf_token %}
      
      <!-- Display the form fields -->
      {{ form.as_p }}

      <!-- Submit Button -->
      <button type="submit" class="create-task-btn">Create User</button>
    </form>
  </div>
{% endblock %}
